@page "/mainview"
@using Microsoft.AspNetCore.Components.QuickGrid;
@using Kulunvalvonta.Shared;
@rendermode InteractiveAuto
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Traffic Data</PageTitle>

@if (DataProvider == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <h3 class="title">Lisää uusi tapahtuma</h3>
            <EditForm Model="@ProvidedData" OnValidSubmit="@OnValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="RegNumber">Rekisterinumero:</label>
                            <InputText Id="RegNumber" @bind-Value="ProvidedData.RegNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="DriverName">Nimi:</label>
                            <InputText Id="DriverName" @bind-Value="ProvidedData.DriverName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Date">Päivämäärä:</label>
                            <InputDate Id="Date" @bind-Value="ProvidedData.Date" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">

                        <label for="EntryTime">Klo:</label>
                            <input type="time" id="Time" @bind="ProvidedData.EntryTime" class="form-control" />

@*                             <label for="EntryTime">Klo:</label>
                            <InputText Id="EntryTime" @bind-Value="ProvidedData.EntryTime" class="form-control" /> *@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="Reason">Syy:</label>
                        <InputSelect Id="Reason" @bind-Value="ProvidedData.Reason" class="form-control">
                            @foreach (EntryReason reason in Enum.GetValues(typeof(EntryReason)))
                            {
                                <option value="@reason">@reason</option>
                            }
                        </InputSelect>
                    </div>

                </div>
                <br />
                <button type="submit" class="btn btn-primary">Tallenna</button>
            </EditForm>
        </div>
    </div>

    <br />

    <div class="container">
        <div class="col-lg-4 col-md-5 col-sm-6">
            <h3 class="title">Liikenne</h3>
            <div class="grid text-nowrap">
                <QuickGrid ItemsProvider="DataProvider">
                    <PropertyColumn Property="p => p.RegNumber" Title="Rekisterinumero"></PropertyColumn>
                    <PropertyColumn Property="p => p.DriverName" Title="Kuljettaja" ></PropertyColumn>
                    <PropertyColumn Property="p => p.Company" Title="Yritys"></PropertyColumn>
                    <PropertyColumn Property="p => p.Date" Title="Päivämäärä"></PropertyColumn>
                    <PropertyColumn Property="p => p.EntryTime" Title="Sisään"></PropertyColumn>
                    <PropertyColumn Property="p => p.ExitTime" Title="Ulos"></PropertyColumn>
                    <PropertyColumn Property="p => p.Reason" Title="Syy"></PropertyColumn>
                    <PropertyColumn Property="p => p.ExpandedReason" Title="Lisätiedot"></PropertyColumn>
                    <PropertyColumn Property="p => p.LocationId" Title="Paikkakunta"></PropertyColumn>
                    <TemplateColumn Title="Toiminnot">
                        <button class="btn btn-primary btn-sm" @onclick="() => Departed(context)">Poistunut</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteEntry(context)">X</button>
                    </TemplateColumn>

                </QuickGrid>
            </div>
        </div>
    </div>



}

@code {
    GridItemsProvider<TrafficdataDto>? DataProvider;
    private TrafficdataDto ProvidedData = new();
    //private List<TrafficdataDto>? trafficData;


    protected override void OnInitialized()
    {
        DataProvider = async (request) =>
        {
            var allData = await Http.GetFromJsonAsync<List<TrafficdataDto>>("/trafficdata")
                           ?? new List<TrafficdataDto>();

            var items = allData
                .Skip(request.StartIndex)
                .Take(request.Count ?? allData.Count)
                .ToList();

            return new GridItemsProviderResult<TrafficdataDto>
                {
                    Items = items,
                    TotalItemCount = allData.Count
                };
        };
    }

    private async Task OnValidSubmit()
    {

    }

    private void Departed(TrafficdataDto TrafficEntry)
    {
        //NavManager.NavigateTo();
    }

    private void DeleteEntry(TrafficdataDto TrafficEntry)
    {
        //NavManager.NavigateTo();
    }

}
