@page "/mainview"
@using Microsoft.AspNetCore.Components.QuickGrid;
@using Kulunvalvonta.Shared;
@rendermode InteractiveAuto
@inject HttpClient Http

<PageTitle>Traffic Data</PageTitle>

@if (DataProvider == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="container">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <h3 class="title">Liikenne</h3>
            <div class="grid">
                <QuickGrid ItemsProvider="DataProvider">
                    <PropertyColumn Property="p => p.RegNumber" Title="Rekisterinumero"></PropertyColumn>
                    <PropertyColumn Property="p => p.DriverName" Title="Kuljettaja" ></PropertyColumn>
                    <PropertyColumn Property="p => p.Company" Title="Yritys"></PropertyColumn>

                </QuickGrid>
            </div>
        </div>
    </div>



}

@code {
    GridItemsProvider<TrafficdataDto>? DataProvider;
    //private List<TrafficdataDto>? trafficData;


    protected override void OnInitialized()
    {
        DataProvider = async (request) =>
        {
            var allData = await Http.GetFromJsonAsync<List<TrafficdataDto>>("/trafficdata")
                           ?? new List<TrafficdataDto>();

            var items = allData
                .Skip(request.StartIndex)
                .Take(request.Count ?? allData.Count)
                .ToList();

            return new GridItemsProviderResult<TrafficdataDto>
                {
                    Items = items,
                    TotalItemCount = allData.Count
                };
        };
    }
}
