@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
@* @using Kulunvalvonta.
 *@
<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div>
 *@
    <main>
        <div class="top-row px-4">

            <img src="/Images/Orion-Oyj-Logo.svg" alt="Orion Logo" class="logo" />
            <h1 class="main-menu_headline" >Ajoneuvoseuranta</h1>

            <div class="main-menu-container">

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                        <li>
                            <NavLink class="dropdown-item" href="/">
                                <span class="bi bi-list-nested"></span> Päänäkymä
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="search">
                                <span class="bi bi-list-nested"></span> Haku
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="adminpanel">
                                <span class="bi bi-list-nested"></span> Käyttäjien hallinta
                            </NavLink>
                        </li>

                        <AuthorizeView>
                            <Authorized>
                                <li>
                                    <NavLink class="dropdown-item" href="Account/Manage">
                                        <span class="bi bi-person-fill"></span>
                                        @context.User.Identity?.Name
                                    </NavLink>
                                </li>

                                <li>
                                    <form action="Account/Logout" method="post" class="px-3">
                                        <input name="ReturnUrl"
                                               type="hidden"
                                               value="@currentUrl" />
                                        <button type="submit" class="dropdown-item btn btn-link">
                                            <span class="bi bi-arrow-bar-left"></span> Logout
                                        </button>
                                    </form>
                                </li>

                            </Authorized>
                            <NotAuthorized>
                                <li>
                                    <NavLink class="dropdown-item" href="Account/Register">
                                        <span class="bi bi-person"></span> Register
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink class="dropdown-item" href="Account/Login">
                                        <span class="bi bi-person-badge"></span> Login
                                    </NavLink>
                                </li>
                            </NotAuthorized>
                        </AuthorizeView>

                    </ul>
                </div>

          @*   <p class="main-menu-paragraph"><MainMenuDropdown /></p> *@
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
@code {
    private string currentUrl => NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
}