@page "/Account/AccessDenied"

<PageTitle>Pääsy evätty</PageTitle>

<header>
    <h1 class="text-danger">Pääsy evätty</h1>
    <p class="text-danger">Käyttäjäoikeudet eivät riitä tähän resurssiin.</p>
</header>
