@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Unohtuneen salasanan vahvistus</PageTitle>

<h1>Unohtuneen salasanan vahvistus</h1>
<p role="alert">
    Olehyvä ja tarkista sähköpostisi salasanan resetoimiseksi.
</p>
