@page "/Account/InvalidPasswordReset"

<PageTitle>Virhe salasanaa muutettaessa</PageTitle>

<h1>Virhe salasanaa muutettaessa</h1>
<p role="alert">
    Linkki salasanan muuttamiseksi oli virheellinen.
</p>
