@page "/Account/Lockout"

<PageTitle>Tili lukittu</PageTitle>

<header>
    <h1 class="text-danger">Lukittu</h1>
    <p class="text-danger" role="alert">Tili on lukittu, yritä uudelleen myöhemmin.</p>
</header>
