@page "/Account/ResetPasswordConfirmation"
<PageTitle>Salasanan vaihdon vahvistus</PageTitle>

<h1>Salasanan vaihdon vahvistus</h1>
<p role="alert">
    Salasanasi on vaihdettu.  <a href="Account/Login">Paina tähän kirjautuaksesi</a>.
</p>
